<h1>Welcome to SendIt!</h1>
<a href="/scorecards/new">Add a new scorecard here</a><br><br>
<ul>
    <% @scorecard.each do |card| %>
    <li>
        <a href="/scorecards/<%=card.id%>">
        <%= card.course_name %>
        </a>
    </li>
    <% end %>

</ul>