<h1>Please create an account</h1>

<form action="/users" method="POST">
    Name: <input type="text" name="name"><br><br>
    Username:<input type="text" name="username"><br><br>
    Password:<input type="password" name="password"><br><br>
    <input type="submit">
</form>