<h1>SendIt ⤴ </h1>

<br><br>
<h2>Welcome to SendIt!</h2>

<p>SendIt is a personal score tracker for disc golf. It allows you to keep track of your scores
   by making scorecards and filling out details such as: Course name, Date, Strokes, and overall Score.
   Please sign up to start using the app. Once logged in, your scorecards will be saved in our database
   where you can check on them over time and view your progression. Happy sending!
</p>

<% if !logged_in? %>
  <input type="button" onclick="location.href='/signup';" value="Sign Up">
  <input type="button" onclick="location.href='/login';" value="Login">
<% end %>
